LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_HOST=https://us.cloud.langfuse.com
OPENAI_API_KEY=your_openai_api_key_here
GROQ_API_KEY=your_groq_api_key_here
TRACELOOP_API_KEY=your_traceloop_api_key_here
WATSONX_URL=https://us-south.ml.cloud.ibm.com
WATSONX_PROJECT_ID=your_watsonx_project_id_here
WATSONX_API_KEY=your_watsonx_api_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
LANGTRACE_API_KEY=your_langtrace_api_key_here
AWS_DEFAULT_REGION=us-east-1
HUGGINGFACEHUB_API_TOKEN=your_huggingface_token_here
DEEPSEEK_API_KEY=your_deepseek_api_key_here